---
import Count from '../../components/Count.svelte';
---

<div>
    <Count client:visible />
</div>
<div class="flex items-center">
    <div class="text-5xl text-indigo-700 text-center mt-32 border-2 p-5 rounded-md">hello from about page</div>
</div>