---
import Count from '../../components/Count.svelte';
---

<div>
    <Count client:visible />
</div>
<div class="flex items-center">
    <div class="text-5xl text-red-700 text-center mt-32 border-2 p-5 rounded-md">hello from about page</div>
</div>
<div>
    <h1 class="mt-16 text-2xl text-gray-600">Another text just for fun</h1>
</div>