---
import Counter from '../components/Counter.vue';
import Count from '../components/Count.svelte';
---
<a href="/about">about page</a>

<div class="flex flex-col items-center mt-20 justify-center">
	<h1 class="text-teal-600 text-4xl">A Vue counter</h1>
	<Counter client:idle />
</div>

<div class="flex flex-col items-center mt-20 justify-center">
	<h1 class="text-orange-600 text-4xl">A Svelte counter</h1>
	<Count client:idle />
</div>
